


<!DOCTYPE html>
<html xmlns:border="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Orders Management</title>

      <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
      
      <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-light_blue.min.css"/>
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <link rel="stylesheet" href="../public/stylesheets/orders_page.css"/>
       <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkEhmo8rPS7cI8xHZ1lCnYeNAdh4nbV6A&callback=initMap">" type="text/javascript"></script>
    <script>
      // Initialize Firebase
     var config = {
        apiKey: "AIzaSyCGzuPdXHPpeqzZGVkXzHF7rKjxre7I_Aw",
        authDomain: "bookaholic-786.firebaseapp.com",
        databaseURL: "https://bookaholic-786.firebaseio.com",
        projectId: "bookaholic-786",
        storageBucket: "bookaholic-786.appspot.com",
        messagingSenderId: "193097484074"
      };
      firebase.initializeApp(config);
    </script>
    </head>


    <body>
			<!-- Simple header with fixed tabs. -->
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
        		    mdl-layout--fixed-tabs">
  			<header class="mdl-layout__header">
    			<div class="mdl-layout__header-row">
      			<!-- Title -->
      			<h5>Orders Console</h5>
    			</div>
    <!-- Tabs -->
			    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      				<a href="#fixed-tab-1" class="mdl-layout__tab is-active">New orders</a>
      				<a href="#fixed-tab-2" class="mdl-layout__tab">Returns</a>
    			</div>
  			</header>
  			
  			<main class="mdl-layout__content">
    			<section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
          <!-- New Orders Page -->
      				<div class="page-content">
      					
                <div>
      					     <p id="text"> Order Count: </p> 
                      <p>28 June 2017</p>
                </div>

                <!-- Map Object  -->
      					<div id="map"></div>
                <!-- List of Orders  -->
                <div id="order_list_root">
                  



                </div>
              </div>
    			</section>
    			<section class="mdl-layout__tab-panel" id="fixed-tab-2">
           <!-- Returns Page -->
      				<div class="page-content">

      				</div>
    			</section>
  			</main>
</div>    	
    </body>
    <script src="../public/javascripts/order_main.js"></script>

</html>
