
$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// scaling... any units
$width: 100px;

body{
background: #36353F;
}


/*// PRogress Bar
*/

.top_header{

  


}


.abc_root{
  margin-left: 30px;
  margin-top: 5px;
  background: #36353F;
}


.myclass{
    max-width: 50px;
}
#product_count,#total_inv_cost,#total_combo{
    margin-left: 25px;
    padding-left: 10px;
}


#unit1{
    border: 2px black;
}

.c_class{
    display: inline-block;
    float: left;
}
.pric_text{
    width: 50px;
    max-width: 50px;
    border: #3221ff;
}

.first_container,.second_container,.third_contaier{
    margin-left: 30px;
    margin-top: 10px;
    width:200px;
    margin-bottom: 10px;
    display: inline-block;
    float: left;
}

.top_section{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline;
}

.add_book_card{

    margin-top: 20px;
    margin-left: 10%;

}

/*Add Books*/
.add_books_root{
    margin-top: 40px;
    margin-left: 10%;
}

#insertNewBook{
  background: #36353F;
}

.left_side{
    margin-bottom: 60px;
}

.pid_container{
    float: left;
    display: inline-block;
    vertical-align: top;


}

.submit_button{
    margin-left: 20px;
    margin-top: 100px;
    width: 200px;
}

#addBook{
  margin-top: 20px;
  min-width: 80%;

}

#add_form{
    padding-left: 20px;
}

#pid_text_para{
    text-align: center;
    align-items:center;

}


.left_side,.right_side{
    display: inline-block;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}



#unit_one_text,#price_one_text,#time_value1 {
    display: inline-block;
    float: left;
    vertical-align: top;
}



.table_body{
    max-width: 300px;
}
.image_card{
    margin-top: 30px;
}
.pricing_container1{
    display: inline-block;
    float: left;
}

.pricing_card{
    min-width: 100px;

}

.select_class{
    border: 0 solid #e0e0e0;
    border-bottom-width: 1px;
    color:#36353F;
    font-family: 'Roboto', sans-serif;


    outline: 0;
    margin-top:1px;


    text-transform:capitalize;
}


.image_form_class{
    margin-left: 10px;
}
#submit_button{
    margin-top: 20px;
    margin-left: 16px;

}
.submit_button_class{
    margin-left: 200px;
}

.pricing_inner_container{
    display: inline-block;
    float: left;
}
.add_book_card{
    margin-bottom: 100px;
}
#pid_div{
    margin-left: 10px;
}

#top_rate{
    margin-bottom: 10px;
}

.l_class{
    max-width: 40px;
}

#pid_div,#pid_text_para{
    display: inline-block;
    float: left;

}

.pricing_inner_container{
    margin-left: 30px;
}


.pricing_container1{
    display: inline-block;
    float: left;
}


#unit_one_text,#price_one_text,#time_value1,#unit_two_text,#unit_three_text,#price_two_text,#price_three_text,#time_value2,#time_value13{
    margin-left: 5px;
}


.add_more_button{
    margin: 10px 32px;
    padding-left: 10px;
}

.c_class{
    max-width: 80px;

}
/*Search Page Styling*/

.search_top_contaier{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    max-width: 100%;

}

.searchbutton{
    max-width: 350px;


}

.SearchRootEditBox{

    max-width: 100%;


}
/*Create Combo Page*/

.c_combo_holder{
    min-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.combo_top_holder{
   margin-left: 10%;
}


// demo-specific
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}
// end demo-specific

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}
/*
   <!--Must have two Cards for Convenience side By Side-->
                  <!--The Container Card for Add Books-->
 
                  <!--Left Hand Card-->
                 <div class="mdl-card mdl-shadow--8dp left_side">


                  <!--The Title Of Card-->
                  <div class="mdl-card__title ">
                    <h2 class="mdl-card__title-text">Create a New Entry</h2>
                  </div>
                  <div class="p_desc_container">
                    <form id="add_form">


                      <div class="mdl-card-title">
                        <h7 class="mdl-card__title-text">Product Basic Info</h7>
                      </div>
                      <!-- Pid -->
                      <div class="pid_container">
                        <p id="pid_text_para">Pid (Generated)</p>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="pid_div">
                              <input class="mdl-textfield__input" type="text" id="pid_text" >
                            
                        </div>
                      </div>

                      <!--Product Name-->



                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input class="mdl-textfield__input" type="text" id="pname">
                          <label class="mdl-textfield__label" for="pname">Product Name</label>
                        </div>

                      <!--Product Description-->
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="pdesc" >
                        <label class="mdl-textfield__label" for="pdesc">Product Desc</label>
                      </div>
                      <!--Author Name-->
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="aname" >
                        <label class="mdl-textfield__label" for="aname">Author Name</label>
                      </div>

                      <!--Book Smmary -->

                      <div class="mdl-textfield mdl-js-textfield">
                      <textarea class="mdl-textfield__input" type="text" rows="3" maxrows="6" id="bsummary"></textarea>
                        <label class="mdl-textfield__label" for="bsummary">Book Brief Description(back of The Book)</label>
                      </div>
                      <!--Publiser Name-->
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="pubname" >
                        <label class="mdl-textfield__label" for="pubname">Publisher Name</label>
                      </div>
                      <div>


                        <p>Base Category</p>
                        <select class="mdl-select__input c_class"  onchange="baseCategorySelected(this)" id="base_category" name="Base Cateogry">
                          <option value="0">Select Main Category</option>
                          <option value="1">Competitive</option>
                          <option value="2">General</option>
                          <option value="3">Startup</option>
                          <option value="4">College</option>
                        </select>

                      </div>
                        <br>
                      <div>



                        <p>Sub Category</p>
                        <select class="mdl-select__input c_class"  id="sub_category" name="Subcategory">
                          <option value="0">Select Main Category</option>

                        </select>

                      </div>


                      <!--ISBN 10-->
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="isbn10" pattern="[0-9]*">
                        <label class="mdl-textfield__label" for="isbn10">ISBN 10</label>
                      </div>
                      <!--ISBN 13-->
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="isbn13" pattern="[0-9]*">
                        <label class="mdl-textfield__label" for="isbn13">ISBN 13</label>
                      </div>
                      <!--Published Date-->



                      <!--MRP Price-->
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="mrp" pattern="[0-9]*">
                        <label class="mdl-textfield__label" for="mrp">MRP</label>
                      </div>


                      <!--Our Buying Price-->
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="our_price" pattern="[0-9]*">
                        <label class="mdl-textfield__label" for="our_price">Our Price</label>
                      </div>


                      <p>Is Best seller</p>
                      <select class="mdl-select__input c_class"  id="best_seller" name="Best Seller">
                      <option value="0">Select a Value</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>


                        <br>

                      <div>

                        <p>Is Top  Rated</p>
                        <select class="mdl-select__input c_class"  id="top_rate" name="Top Rated">
                          <option value="0">Select a Value</option>
                          <option value="1">Yes</option>
                          <option value="2">No</option>
                        </select>
                      </div>

                    <br>

                    </form>
                  </div>
                 </div>

                  <!--The Right Side Div Which Holds Image and price Details-->

                  <div class="right_side">

                  <div class=" mdl-card mdl-shadow--8dp pricing_card">
                    <div class="mdl-card__title ">
                      <h2 class="mdl-card__title-text">Pricing</h2>

                    </div>
                    <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
                      <thead>
                        <tr>
                        <th class="mdl-data-table__cell--non-numeric">Unit</th>
                        <th>Time unit</th>
                        <th>Price</th>
                        </tr>
                      </thead>

                      <tbody class="table_body">
                        <tr>
                        <td><input class="mdl-textfield__input c_class"  pattern="[0-9]*" type="number" style="border:1px solid #36353F"  id="unit_one_text"></td>
                        <td> <select class="mdl-select__input c_class select_class"  id="time_value1" name="TimeUnit">
                          <option value="0">Select Time Unit</option>
                          <option value="1">Day</option>
                          <option value="2">Week</option>
                          <option value="3">Month</option>
                        </select></td>
                        <td> <input class="mdl-textfield__input c_class pric_text" style="border:1px solid #36353F" type="number" id="price_one_text"></td>
                        </tr>

                        <tr>
                        <td><input class="mdl-textfield__input c_class"  type="number" style="border:1px solid #36353F"  id="unit_two_text"></td>
                        <td> <select class="mdl-select__input c_class select_class"  id="time_value2" name="TimeUnit">
                          <option value="0">Select Time Unit</option>
                          <option value="1">Day</option>
                          <option value="2">Week</option>
                          <option value="3">Month</option>
                        </select></td>
                        <td> <input class="mdl-textfield__input c_class pric_text" style="border:1px solid #36353F" type="number" id="price_two_text"></td>
                        </tr>
                        <tr>
                        <td><input class="mdl-textfield__input c_class"  type="number" style="border:1px solid #36353F"  id="unit_three_text"></td>
                        <td> <select class="mdl-select__input c_class select_class"  id="time_value13" name="TimeUnit">
                          <option value="0">Select Time Unit</option>
                          <option value="1">Day</option>
                          <option value="2">Week</option>
                          <option value="3">Month</option>
                        </select></td>
                        <td> <input class="mdl-textfield__input c_class pric_text" style="border:1px solid #36353F" type="number" id="price_three_text"></td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Colored raised button -->
                  </div>
                  <div class="mdl-card mdl-shadow--8dp image_card">
                    <div class="mdl-card__title ">
                      <h2 class="mdl-card__title-text">Upload Image</h2>
                    </div>

                    <div class="image_form_class">

                      <form id="image-form " action="#">
                        <input id="mediaCapture" type="file" accept="image/*,capture=camera">
                        <button id="submitImage" title="Add an image" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--amber-400 mdl-color-text--white">
                          <i class="material-icons">image</i>
                        </button>
                      </form>
                    </div>
                  </div>

                  <br>
                  <br>
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                  id="submit_button">Insert Book</button>
                  </div>
            </div>




           </div>*/





           /*-- The Card Which Holds ISBN /TAg and submit Button Inside -->
             <div class=" mdl-card mdl-shadow--8dp add_book_card"  style="visibility: hidden;" id="isbn_div">
                <!-- The Area of the Card -->
                      <div class="mdl-card__title ">

                        <h2 class="mdl-card__title-text">Add Books</h2>

                    </div>
                       <!-- The Body Area of the Card -->

                   <div class="mdl-card__supporting-text">

                     <!-- The ISBN Text Field -->
                       <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input class="mdl-textfield__input" type="text" id="isbn_to_add" >
                           <label class="mdl-textfield__label" for="isbn_to_add">Enter the New ISBN To Add Books</label>
                        </div>

                     <!-- Button -->

                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect 
                                       mdl-button--accent isbn_button" id='isbn_add_button'>
                              Add Book
                         </button>
                  </div>
              </div>*/